* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  color: #000000;
  background-color: #5ce1e6;
  display: flex;
  justify-content: center;
}

span {
  color: #5ce1e6;
}

.wrapper {
  width: 100%;
  display: flex;
  margin: 0;
}

.main {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.menu {
  width: 160px;
  background-color: #5ce1e6;
  padding: 10px 20px 0px;
}

.menu ul {
  margin-top: 20px;
  padding: 0px;
  list-style-type: none;
}

.menu ul li a {
  font-size: 1.5rem;
  text-decoration: none;
}

.header {
  color: #ffffff;
  min-height: 40%;
}

.header .index {
  background-image: linear-gradient(
      to right,
      rgba(39, 173, 175, 0.6),
      rgba(0, 76, 115, 0.8),
      rgba(0, 75, 114, 1)
    ),
    url("./home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100%;
  padding: 20px;
}

.header .sobre {
  background-image: linear-gradient(
      to right,
      rgba(39, 173, 175, 0.6),
      rgba(0, 76, 115, 0.8),
      rgba(0, 75, 114, 1)
    ),
    url("./sobre.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100%;
  padding: 20px;
}

.header .horarios {
  background-image: linear-gradient(
      to right,
      rgba(39, 173, 175, 0.6),
      rgba(0, 76, 115, 0.8),
      rgba(0, 75, 114, 1)
    ),
    url("./horarios.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100%;
  padding: 20px;
}

.header .contato {
  background-image: linear-gradient(
      to right,
      rgba(39, 173, 175, 0.6),
      rgba(0, 76, 115, 0.8),
      rgba(0, 75, 114, 1)
    ),
    url("./contato.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100%;
  padding: 20px;
}

.header img {
  width: 276px;
}

.content {
  background-color: #ffffff;
  min-height: 50%;
  padding: 30px;
}
.footer {
  background-color: #3288b9;
  min-height: 10%;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  font-size: 0.8rem;
}

.footer a {
  color: #5ce1e6;
  text-decoration: none;
}
