* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  color: #000000;
  background-color: #5ce1e6;
  display: flex;
  justify-content: center;
}

span {
  color: #5ce1e6;
}

.wrapper {
  width: 100%;
  display: flex;
  margin: 0;
}

.main {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.menu {
  width: 160px;
  background-color: #5ce1e6;
  padding: 10px 20px 0px;
}

.menu ul {
  margin-top: 20px;
  padding: 0px;
  list-style-type: none;
}

.menu ul li a {
  font-size: 1.5rem;
  text-decoration: none;
}

.header {
  color: #ffffff;
  min-height: 40vh;
}

.header .index {
  background-image: linear-gradient(
      to right,
      rgba(39, 173, 175, 0.6),
      rgba(0, 76, 115, 0.8),
      rgba(0, 75, 114, 1)
    ),
    url("./home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100%;
  padding: 20px;
}

.header .sobre {
  background-image: linear-gradient(
      to right,
      rgba(39, 173, 175, 0.6),
      rgba(0, 76, 115, 0.8),
      rgba(0, 75, 114, 1)
    ),
    url("./sobre.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100%;
  padding: 20px;
}

.header .horarios {
  background-image: linear-gradient(
      to right,
      rgba(39, 173, 175, 0.6),
      rgba(0, 76, 115, 0.8),
      rgba(0, 75, 114, 1)
    ),
    url("./horarios.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100%;
  padding: 20px;
}

.header .contato {
  background-image: linear-gradient(
      to right,
      rgba(39, 173, 175, 0.6),
      rgba(0, 76, 115, 0.8),
      rgba(0, 75, 114, 1)
    ),
    url("./contato.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 100%;
  padding: 20px;
}

.header img {
  width: 276px;
}

.content {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 30px;
}

.content table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.content table thead th {
  padding: 10px;
  background-color: #3288b9;
}

.content table tbody td {
  padding: 10px;
}

.content table tbody tr:nth-child(even) td {
  background-color: #e6e6e6;
}

.content table tfoot td {
  padding: 10px;
  background-color: #5ce1e6;
}

.content .fieldset-duas-colunas {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  border-color: #f9f9f9;
}

.content .fieldset-duas-colunas .coluna {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content .fieldset-duas-colunas .row {
  margin: 5px;
}

.content .fieldset-duas-colunas label {
  margin-bottom: 5px;
}

.content .fieldset-duas-colunas label sup {
  color: #ff0000;
}

.content .fieldset-duas-colunas input {
  margin-bottom: 5px;
  padding: 5px;
}

.content .fieldset-duas-colunas .botao {
  background-color: #3288b9; /* Verde */
  color: #ffffff; /* Texto branco */
  margin-top: 5px;
  padding: 10px 20px; /* Espaçamento interno (top/bottom, left/right) */
  width: 150px;
  height: 40px;
  border: none; /* Remove a borda padrão */
  border-radius: 8px; /* Cantos arredondados */
  font-size: 1rem;
  font-weight: 700;
}

.footer {
  background-color: #3288b9;
  min-height: 10vh;
  padding: 10px 0;
  text-align: center;
}

.footer p {
  font-size: 0.8rem;
}

.footer a {
  color: #5ce1e6;
  text-decoration: none;
}
